# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyArR0oXRU4e_dmy4Uy70S11KPThNkvPhas"

# SUPABASE CONFIG
VITE_SUPABASE_URL="https://voaixxuyiuuangpibmnx.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvYWl4eHV5aXV1YW5ncGlibW54Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwOTkxMjksImV4cCI6MjA4OTY3NTEyOX0.KkCbKtB0ppi-_97qpCXPRc6Sy30RqU1atWRYBIuAK2w
"

# TWILIO CONFIG (Server-side only)
TWILIO_ACCOUNT_SID="ACae7cddc2425ffba262127ec64e7b2ae9"
TWILIO_AUTH_TOKEN="70f7c4a9833dfa83f3f5c90baef3f4a1"
TWILIO_PHONE_NUMBER="+15076985839"
EMERGENCY_CONTACT_PHONE="9529421124"
